img {
    border: solid 20px crimson; 
    margin: 20px;
    padding: 0px;
}
body{
    background-color:rgb(207, 207, 24);
    text-align:center;
}
button {
    color:indigo;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;

}
p {
    color: rgb(221, 18, 187);
}
em {
    border: solid 5px red;
}